@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
  background-color: black;
}
.App {
  background-color: black;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.title{
  margin-top: 0%;
max-height: 35px;
  place-self: top;
  
  color: whitesmoke;
}

.description {

  margin-top: 2rem;
  width: 500px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
.location-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-form {
  color: whitesmoke;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 500px;
}

.location-form form {

  display: flex;
}

.location-form input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.location-form button {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.location-form button:hover {
  background-color: #45b6d9;
}

.carousel{
  align-items: center;
  max-width: 1350px;
  max-height: 700px;
  width: auto;
  height: auto;
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
}